.extensionCard{
  border: 1px solid #555;
  border-radius: 10px;
  padding: 15px;

  .content{
    display: flex;
    gap: 20px;

    .emojiWrapper{
      font-size: 3rem;
    }

    .textWrapper{
      h2{
        margin: 0;
      }
    }
  }

  .buttonWrapper{
    display: flex;
    justify-content: space-between;
    button{
      background-color: transparent;
      border: 1px solid #555;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.main{
  display: grid;
  gap: 20px;
}

@media only screen and (min-width: 600px){
  .main{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px){
  .main{
    max-width: 1000px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

*{
  box-sizing: border-box;
}

.switch{
  width: 60px;
  height: 30px;
  border: 1px solid #555;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  >div{
    position: absolute;
    width: 24px;
    aspect-ratio: 1 / 1;
    top: 2px;
    left: 32px;
    background: rgb(27, 158, 27);
    border-radius: 50%;
    transition: left 0.5s, 
    background 0.5s;
  }
  >div.off{
    left: 2px;
    background: rgb(224, 71, 71);
  }
}